* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
  text-decoration: none;
}

$firstColor: green;
$secondColor: red;
$thirdColor: blue;
$firstBorder: 1px solid $firstColor;
$secondBorder: 1px solid $secondColor;

div {
  margin: 30px;
  border: $secondBorder;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    text-decoration: 2px underline $thirdColor;
    color: $firstColor;
    margin-bottom: 1.5rem;
  }
  section {
    display: flex;
    justify-content: center;
    text-align: center;
    article {
      padding: 30px;
      border: $firstBorder;
    }
    :nth-child(1) p {
      color: $thirdColor;
    }
    :nth-child(2) p {
      color: $secondColor;
    }
    :nth-child(3) p {
      color: $thirdColor;
    }
    :nth-child(4) p {
      color: $secondColor;
    }
  }
}
